---
title: About
layout: default
description: I am what I am
header-img: "img/about-bg.png"
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div id="about-content">
    <div class="content-wrapper">
        <div class="head-wrapper">
            <h2>Self introduction</h2>
            <div class="hr"></div>
            <div class="sub-head">
                <p>智商溢出&nbsp;&nbsp;|&nbsp;&nbsp;栈高130&nbsp;&nbsp;|&nbsp;&nbsp;会写小说的极客&nbsp;&nbsp;|&nbsp;&nbsp;爱折腾的少数派</p>
                <p>Intelligence quotient overflows&nbsp;&nbsp;|&nbsp;&nbsp;A Geek who writes novels&nbsp;&nbsp;|&nbsp;&nbsp;A minority who enjoys tossing</p>
                <br/>
                <a href="mailto:fgksgf@yahoo.com">Email&nbsp;:&nbsp;fgksgf@yahoo.com</a>
            </div>
        </div>
        <div class="card-group clearfix">
            <div class="card card-l">
                <h3 class="animated pulse infinite"><i class="fa fa-html5"></i>&nbsp;精通HTML5</h3>
                <p>Proficient in HTML5.</p>
            </div>
            <div class="card card-r">
                <h3 class="animated pulse infinite"><i class="fa fa-css3"></i>&nbsp;精通CSS3</h3>
                <p>Proficient in CSS3.</p>
            </div>
            <div class="card card-l">
                <h3 class="animated pulse infinite"><i class="fa fa-git-square"></i>&nbsp;熟练使用git</h3>
                <p>Proficient with git.</p>
            </div>
            <div class="card card-r">
                <h3 class="animated pulse infinite"><i class="fa fa-linux"></i>&nbsp;熟练使用Linux</h3>
                <p>Proficient with Linux.</p>
            </div>
            <div class="card card-l">
                <h3 class="animated pulse infinite"><i class="fa fa-gitlab"></i>&nbsp;精通Java&nbsp;&amp;&nbsp;Python</h3>
                <p>Proficient in Java and Python.</p>
            </div>
            <div class="card card-r">
                <h3 class="animated pulse infinite"><i class="fa fa-paper-plane"></i>&nbsp;精通C/C++</h3>
                <p>Proficient in C/C++.</p>
            </div>
        </div>
    </div>
</div>